body {
	font-family:Segoe UI Light, Segoe UI;
	margin:0; padding:0;

}

.nav {
	 font-size:12pt;
	 padding:10px;
	 width:150px;
}

.navOn {
	 font-size:12pt;
	 background-color:#d6e2f0;
	 padding:10px;
	 width:150px;
}

.title {
	color:purple; font-size:28pt;
}

.contentTitle {
	font-size:18pt;

}

.subContentTitle {
	font-size:14pt;
}

.subContentTitleColored {
	font-size:14pt;
	color:purple;
}

.content {
	font-size:9pt;
}

.contentLink {
	font-size:9pt;
	color:#0f60af;
	text-decoration:none;
}

.navLink {
	text-decoration:none;
	color:black;
}